<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://www.json-generator.com/api/json/get/csEyLfhjpK?indent=2</string>
	<string>http://www.json-generator.com/api/json/get/cnAzNfQtWq?indent=2</string>
	<string>http://www.json-generator.com/api/json/get/bJqGiZCIoi?indent=2</string>
</array>
</plist>
